* {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #d8dbe2;
	padding: 90px;
}

h1 {
	color: darkblue;
	text-align: center;
	font-size: 100px;
}

header ul {
	text-align: center;
	border: solid darkblue 3px;
}

header a {
	text-decoration: none;
	color: #546a7b;
}

header li {
	list-style: none;
	display: inline;
	font-size: 50px;
	margin-left: 50px;
	margin-right: 50px;
	color: darkblue;
}

header a:hover {
	color: #986c6a;
}




#content1 {
	background-image: ;
}