body {
	background-color: black;
}

header h1 {
	color:yellow;
  font-family: Tahoma, sans-serif;
  font-size:100px;
  text-align: center;
}

span{
  color:white;
}

li {
	font-family: 'Poiret One', cursive;
}

nav {
	background-color: white;
	height: 50px;
}

nav ul {
	padding: 0;
	margin: 0;
	height: 50px;
	width: 460px;
	margin: 0 auto;
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	text-align: center;
	font-family: 'Poiret One', cursive;
}

li a {
	text-decoration: none;
	color: black;
	line-height: 50px;
	display: block;
}

li a:hover {
	background-color: yellow;
	color: black;
}

#feature > img {
	width: 100%;
	opacity: 0.5;
	height: 600px;
}

#feature > h3 {
	width: 700px;
	text-align: center;
	font-size: 90px;
	color: yellow;
	opacity: 0.75;
	position: absolute;
	margin-top: 80px;
	margin-left: 255px;
	z-index: 1;
}

#Jason {
	float: left;
	margin-left: 200px;
	margin-top: 70px;
}

#Jason > img {
	width: 200px;
	max-height: 200px;
}

#info1 {
	width: 600px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

#info1 > h3 {
	color: white;
	font-weight: bold;
	font-size: 22px;
}

#info1 > p {
	color: white;
}

#content2 > img {
	width: 200px;
	max-height: 200px;
	float: left;
	clear: left;
	margin-left: 200px;
	margin-top: 70px;
}

#Gino {
	width: 600px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

#Gino > h3 {
	color: white;
	font-weight: bold;
	font-size: 22px;
}

#Gino > p {
	color: white;
}

#content3 > img {
	width: 200px;
	max-height: 200px;
	margin-left: 200px;
	margin-top: 70px;
	float: left;
	clear: left;
}

#James {
	width: 600px;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

#James h3 {
	color: white;
	font-weight: bold;
	font-size: 22px;
}

#James p {
	color: white;
}

.title {
	font-size: 14px;
	color: white;
	margin-left: 5px;
}

